{% extends "base.html" %}

{% block titulo %} Lista de inventario {% endblock %}

{% block contenido %} 
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Inventario</h4>
    </div>
</div> 
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>SKU</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Activo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for product in productos %}
        <tr>
            <td>{{ product.medicine_id }}</td>
            <td>{{ product.sku }}</td>
            <td>{{ product.medicine }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.active }}</td>
            <td><a name="" id="" class="btn btn-danger" href="{% url 'eliminar' product.medicine_id %}" role="button">Eliminar</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}