{% extends "base.html" %}

{% block titulo %} Nosotros {% endblock %}

{% block contenido %} 
<div class="card">
    <div class="card-header">
        ¿Quienes somos?
    </div>
    <div class="card-body">
        <h4 class="card-title">Equipo #2</h4>
        <p class="card-text">Somos un equipo con la visión de mantener un sistema ampliamente ordenado y con privilegios dados al usuario y administrador para manejar sus inventarios. Nace con la idea de los tantos negocios a lo largo de lugares en vías de desarrollo o pueblos cercanos que aún usan la técnica de la hoja y lapicero o meramente no llevan un control ordenado de su inventario, lo cual puede perjudicar drásticamente el rendimiento del negocio. <br> <br>Con esto lo que se está logrando es una interfaz amigable y cómoda para cada una de las personas que utilicen el sistema, ya que no se necesita ningún tipo de conocimiento técnico para utilizarlo.
        </p>
    </div>
    <div class="card-footer text-muted">
        Copyright &copy; 2022
    </div>
</div>
{% endblock %}